name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        crystal: [latest, nightly]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install apt packages
        run: sudo apt-get install libevent-dev libyaml-dev libgphoto2-6 libgphoto2-dev libgphoto2-port12

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}

      - name: Download source
        uses: actions/checkout@v6

      - name: Install dependencies
        run: shards install

      - name: Run specs
        run: crystal spec

      - name: Check formatting
        run: crystal tool format src/gphoto2 --check

      - name: Run ameba linter
        run: bin/ameba
